#topo {
    background: rgb(2,0,36);
}
#menu {
    background-color: blueviolet;
}
.destaques, .produtos, .sobre, .contatos {
    background-color: coral;
}
#rodape {
    background-color: darkkhaki;
}